@()(implicit pageModel: model.PressedPage, request: RequestHeader, context: model.ApplicationContext)

@import fragments._
@import fragments.page._
@import fragments.page.body._

@htmlTag(
    //TODO: <head>
    bodyTag(classes = Map())(
        message(),
        skipToMainContent(),
        //top ad banner
        //header
        breakingNewsDiv(),
        views.FrontsCleaner(pageModel, frontBody(pageModel)), //TODO:
        twentyFourSevenTraining(),
        footer(),
        inlineJSNonBlocking(),
        analytics.base() //TODO: implicit page?
    ),
    devTakeShot()
)

